<li {{- if .group}} class="rezept-ingredient-group"{{end}}>
    {{- with .amount }}<span class="rezept-amount">{{ . }}</span>{{- end }}
    {{- with .unit }} <span class="rezept-unit">{{ . }}</span>{{- end }}
    {{- if .group }}
        {{- with .name }}<strong> {{ . }}:</strong>{{- end }}
        <ul>
            {{- range .group }}
            {{- partial "rezept/ingredient.html" . }}
            {{- end }}
        </ul>
    {{- else }}
    {{- with .name }} {{ . }}{{- end }}
    {{- end }}
    {{- with .comment }}
    <small>({{ . }})</small>
    {{- end }}
</li>